@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Rubik:ital,wght@0,500;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

.phone-container {
  border: 1px solid white;
  height: 51rem;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 35px;
  background: white;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .phone-container {
    transform: scale(80%);
  }
}

.phone {
  height: 100%;
  background: hsl(270, 20%, 96%);
  border-radius: 35px;
}

/* 
-------------------------------------------
upper (contact info)
--------------------------------------------
*/

.upper {
  display: flex;
  align-items: center;
  padding: 3rem 1rem 1.5rem 1rem;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgb(136, 56, 255),
    rgb(233, 66, 255)
  );
  color: white;
  position: relative;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.upper::after {
  content: '';
  width: 60%;
  height: 2.5rem;
  background: white;
  border-radius: 30px;
  position: absolute;
  left: 20%;
  top: -1rem;
}

.upper h4 {
  font-size: 16px;
  color: rgb(236, 236, 236);
  margin-bottom: 0.1rem;
}

.upper p {
  font-size: 12px;
  color: hsl(276, 100%, 81%);
}

.upper img {
  width: 40px;
  border-radius: 50%;
  margin: 0 0.8rem;
  border: 1px solid rgb(236, 236, 236);
}

.kebab {
  display: block;
  margin-left: auto;
  color: rgb(236, 236, 236);
  font-size: 15px;
}

/* 
-------------------------------------------
middle (messages)
--------------------------------------------
*/

.middle {
  padding: 1rem;
}

.middle p {
  font-size: 12px;
  line-height: 1.5;
}

.message {
  border-radius: 10px;
  padding: 0.7rem;
}

.message span {
  display: block;
}

.message-left {
  color: hsl(276, 79%, 62%);
  background: #ede5f4;
  width: 60%;
  margin: 0.7rem 0;
}

.message-right {
  margin: 0.7rem 0 0.7rem auto;
  background: white;
}
.message-right p {
  color: hsl(271, 15%, 43%);
}

.message-three {
  width: 70%;
  text-align: right;
  margin-top: 1.5rem;
  padding: 0;
  background: transparent;
}

.message-three img {
  width: 4rem;
  border-radius: 10px;
}

.message-three img:nth-child(2) {
  margin: 0 0.3rem;
}

.message-four {
  width: 60%;
}
.message-five {
  width: 40%;
}

.price {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to left,
    rgb(136, 56, 255),
    rgb(233, 66, 255)
  );
  width: 75%;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid hsl(276, 100%, 81%);
  background: transparent;
  margin-right: 0.5rem;
}

.price p {
  color: hsl(276, 100%, 81%);
}

#dollars {
  color: white;
  margin-left: auto;
  font-size: 18px;
}

/* 
-------------------------------------------
bottom (message input)
--------------------------------------------
*/

.bottom {
  padding: 0 1rem;
}

.message-area {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.8rem;
  border-radius: 30px;
  font-size: 14px;
  position: relative;
}

.message-area p {
  color: hsl(280, 3%, 83%);
}

.message-area i {
  position: absolute;
  font-size: 40px;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(271, 36%, 24%);
}
